

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 .breadback {
  background: url('../img/bread.jpg') no-repeat center;
}

.breadback h1 {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.breadback p {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
















